
body{
	background-color: #7ef2f2;
}

p{
	text-align: center;
}

input{
  text-align: center;
  background-color: brown;
  color: white;
} 

#Estados{
	color: green;
}

#Salida{
	color: red;
}

#Entrada{
	text-align: center;
}

#InicioMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: blue;

}
#EstadosMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: green;
}
#EntradasMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: green;
}
#SalidasMeally{
  /*border: 2px  green solid;*/
  text-align: center;
  width: auto;
  height: auto;
  float: left;
  color: red;
}

th, td{
  /*border: 2px green solid;*/
}

table{
  /*border: 2px green solid;*/
  /*border-collapse: separate;*/
  border-spacing: 5px;
	text-align: center;
	margin: auto;
  float: center;

}

.opciones{
	width: 760px;
    height: 50px;
    margin: auto;
    padding: 10px;
}

.btn {

	width: 180px;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: green;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.btn:hover {
  	text-decoration: underline;
}