body {
	background-color: #21252b /*white*/;
	margin: 40px;
	color: #9da5b4;
	text-align: center;
}

.cell{
	width: 9%;
	height: 10%;
	float: left;
	margin: 3px;
	border:1.5px gray solid;
	overflow:auto;
	border-radius: 5px;
}

.row{
	height: 15%;
	width: 100%;
	float: left;
	padding: 5px;
	/*border: 3px gray solid;*/
}

#login{
	float: right;
	top: 0px;
	border: 1px dotted blue;
	color: #9da5b4;
}

button{
	background: transparent;
	color: #808080;
	border: 2px dashed;
	width: 200px;
}
