/*body {
	background-color: #21252b;
	margin: 40px;
	color: #9da5b4;
	text-align: center;
}*/

a {
	color: #9da5b4;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #9da5b4;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

h2{
	font-size: 20px;
}

.texto{
	font-size: 15px;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 45%;
}

.requerimiento{
	border: 2px solid gray;
	float: left;
	width: 100%;
	padding: 5px;
}

.galeria{
	float: left;
	width: 45%;
}

#radio{
	width: 10%
}

#checkbox{
	float: left;
}

input{
	border-radius: 10px;
	background: transparent;
	color: #9da5b4;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

input[type=submit]{
	height: 50px;
	width: 300px;
	background: transparent;
	color: #9da5b4;
	font-size: 20px;
}

#container {
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	height: 140%;
}

#login{
	float: right;
	top: 0px;
	border: 1px dotted blue;
}

.aprob{
	width: 1%;
	/*width: 9%;*/
	height: 10%;
	float: left;
	margin: 3px;
	border: 3px gray solid;
	overflow:auto;
	border-radius: 5px;
}
