
body{
	background-color: #7ef2f2;
}

#Estados{
	color: green;
}

#Salida{
	color: red;
}

table{
	text-align: center;
}

.opciones{
	width: auto;
	height: 50px;
	margin: auto;
	border: solid 2px green;
	padding: 10px;
}

.opts{
	width: 100px;
	height: 45px;
	/*margin: auto;*/
	/*margin-left: 20px;*/
	/*float: center;*/
	padding: 15px;
	border: solid 2px red;
	text-align: center;
}

.btn {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: green;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}